<% include ./partials/header %>
  <style>
    img{
      width: 100%;
      max-height: 300px;
    }

    .col-xs-4{
      vertical-align: top;
    }
  </style>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <h3>Current Locations</h3>
        <% locations.forEach(function(location){ %>
          <a href="/dashboard/locations/<%= location.id %>"><p><%= location.name %></p></a>
        <% }) %>
      </div>
      <div class="col-xs-4">
        <h3>Add a new admin</h3>
        <form action="/dashboard/new-user" method="POST">
          <input class="form-control" type="text" name="username" placeholder="username" />
          <input class="form-control" type="password" name="password" placeholder="password" />
          <button class="btn btn-success">Submit</button>
        </form>
      </div>
      <div class="col-xs-4">
        <h3>Something Else</h3>
      </div>
    </div>
  </div>
</body>
</html>
