<% include ./partials/header %>

<h1>Secret Page</h1>

<ul>
  <% users.forEach(function(user){ %>
    <li><%= user.username %></li>
  <% }) %>
</ul>

<a href="/logout"><button class="btn btn-danger">Logout</button></a>
